<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Summary of your smart contract</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://designify.me/code-snippets/animated-buttons/css/btns.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Jquery script to read json files-->
    <script type="text/javascript" src="../build/contracts/Output.json"></script>
    <script type="text/javascript" src="http://code.dappbench.com/browser-solc.min.js"></script>
    <script type="text/javascript" src="../controllers/DeploymentController.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

  </head>

  <body onload=load()>

        <!-- Header -->
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Summary  of your SmartContract</h2>
      </div>
    </div>

    <!-- Main text -->
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">

      <div style="text-align: center;">
        <h4> Your SmartContract address: </h4>
        <a id="etherscanlink" href="" target="_blank" rel="noopener noreferrer"><%= address %></a>
      </div>
      <div style="text-align: center;">
        <h4>Gas used for transaction: </h4>
        <p> <%= gasUsed %> </p>
      </div>
      <div style="text-align: center;">
        <h4> Transaction Hash: </h4>
        <a id="txinfo" href="" target="_blank" rel="noopener noreferrer"> <%= txoHash %> </a>
      </div>
    </div>

</html>

<script>
  var contractAddress = "<%= address %>";
  var txoHash = "<%= txoHash %>"
  var contractLink = "https://ropsten.etherscan.io/address/" + contractAddress;
  var transactionLink = "https://ropsten.etherscan.io/tx/"+ txoHash;
  document.getElementById("etherscanlink").href= contractLink;
  document.getElementById("txinfo").href= transactionLink;
</script>
